/*************************************************************

Base HTML page styling for Espresso UI framework and 
CSS style guide which has been seperated from the core espresso UI
framework to keep it clean and concise :);

Author: Phyllis J. Beck
Email: pbeck@profoundlogic.com
Date: Fri, May 23 2016
Version: 1.0
Copyright 2016 Profound Logic 

*************************************************************/



.pageHeader {
	position: absolute;
	left:0;
	right: 0;
	height: 80px;
	background-color: #1C120E;
	border-bottom: solid 5px #C2C767;
	color: #fff;
}

.header h2 {
	margin-top: 15px;
	margin-left: 25px;
}

/**** Side bar navigation styling **************************/

.nav{
	position: fixed;
	top: 85px;
	left: 0;
	bottom: 0;
	width: 15%;
	height: 100%;
	background-color: #fff;
}

.nav ul {
	/*background-color: #f7f5fa;*/
	/*margin: 25px;
	padding: 15px;*/
	height: 450px;
	padding-left: 0;

}

.nav a, .nav a:link {
	color: #716b7a;
	text-shadow: 0 1px 0 #fff;
	display: block;
	font-size: 15px;
	line-height: 25px;
	padding: 5px 30px;
    border-left: 4px solid transparent;
    text-decoration: none;
}

 .nav a:hover{
	border-left: 4px solid #297770;
	color: #297770;
}

.nav a:active {
	border-left: 4px solid #C2C767;
	color: #C2C767;
}

/***** Main Content containers **************************/

/* Creates main content container set to 85% of window width */
.mainContent {
	position: absolute;
	left: 15%;
	top: 85px;
	right: 0;
	bottom: 0;
	height: 100%;
}

.contentTitle {
	padding-top: 25px;
	padding-left: 25px;
	height: 100px;
	background-color: #297770; 
	color: #fff;
}

/* Elements container padding */
.typography, .buttons, .colorPalette, 
.overview, .forms, .tables {
	padding: 60px;
	margin: auto;
	border-left: 1px solid #ccc;
}

/* Main section heading */

.sectionTitle{
	text-align: center;
	padding-bottom: 15px;
}

/* current element section */
h3.title{
	font-style: italic;
	font-weight: 300;
	height: 60px;
	padding: 15px 0 0 0;
	color: #333;
	border-bottom: 1px solid #333;
}

/* Creates an example box to highlight different styles */
.example {
    position: relative;
    padding: 20px 15px 15px;
    margin: 0 15px 15px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

/**** Demo Box Styles *********************************
 A handy little box to display your nifty css demos.
*******************************************************/

.demoBox {
	margin: auto;
	width: 90%;
	margin-top: 25px;
	padding-top: 15px;
	-webkit-box-shadow: 5px 5px 20px -6px rgba(46,45,46,1);
	   -moz-box-shadow: 5px 5px 20px -6px rgba(46,45,46,1);
			box-shadow: 5px 5px 20px -6px rgba(46,45,46,1);
}

.demo {
	height: 50px;
	padding: 0 0 15px 0;
	text-align: center;
	background-color: #fff;
}

.demo a{
	text-decoration: none;
	color: #fff;
}

/**** Demo Elememt styles *****************************
   CSS elements that are styled for demo purposes 
	should always begin with the .demo class 
*******************************************************/


/**** Code Example Styles  **************************/

.codeBox{
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-left: 4px solid #297770;
}

.demoBox .codeBox {
	height: 60px;
}

.codeBox pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    white-space: nowrap;
}

.codeBox pre code {
    font-size: inherit;
    color: #333;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    overflow: auto;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Code syntax highlighting */

.nt {
    color: #2f6f9f;
}


/* color palette list elements */
.colorPalette ul li {
	display: inline-block;
	padding: 15px;
	list-style: none;
	color: #fff;
	width: 100px;
	height: 100px;
	margin: 10px;
}

ul li.bg-beige, ul li.bg-yellow {
	color: #222;
}


/* Code snippet styles */
code, pre  {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

p code, span code {
	background-color: #eee;
	border: 1px solid #ccc;
	font-size: 12px;
	color: #751313 ;
	margin: 5px;
	padding: 2px;
	border-radius: 3px;
	-webkit-hyphens: none;
  		-ms-hyphens: none;
 			hyphens: none;
}



/* Button Example layout style */
.buttons ul li {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}


/*static demo images */
.buttons .hover {
	border-bottom: 4px solid #297770;
	color: #297770;
}

.buttons .active {
	border-bottom: 4px solid #D87F27;
	color: #D87F27;
}

.buttons .disabled {
	background-color: #ccc;
}
